<!DOCTYPE html>
<html>
<head>
<title>Buy Card</title>
</head>
  <body>
      <style type="text/css">
    .fieldset-auto-width {
         display: inline-block;
    }
  </style>
  <div>
    <fieldset class="fieldset-auto-width">
        <legend>Buy Card</legend>
        <form action="/buyCard" method="POST">
          <input type="submit" name="cardType" value="T-mes" />
           &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
           <input type="submit" name="cardType" value="T-10" />
          <br>
          <br>
          <input type="submit" name="cardType" value="T-50/30" /> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
          <input type="submit" name="cardType" value="T-jove" />
        </form>
    </fieldset>
  </div>
  </body>
</html>