<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link href="style.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="main.js"></script>
        <title>Passenger Landing</title>
    </head>
    <body>
        <h2>Welcome {{firstName}} {{lastName}}</h2>
        <div>
            <form method='GET'>
                <a href="/leaveReview"><input type="button" name="leaveReview" value="Leave Review"></a>
                <a href="/viewTrips"><input type="button" name="viewTrips" value="View Trips"></a>
                <a href="/viewReviews"><input type="button" name="viewReviews" value="View Reviews"></a>
                <a href="/editProfilePassenger"><input type="button" name="editProfile" value="Edit Profile"></a>
                <a href="/buyCard"><input type="button" name="buyCard" value="Buy Card"></a>
                <a href="/goOnATrip"><input type="button" name="goOnATrip" value="Go On Trip"></a>
            </form>
        </div>
    </body>
</html>