<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link href="style.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="main.js"></script>
        <title>Station Info</title>
    </head>
    <body>
        <h2>{{station}}           Status: {{status}}</h2>
        <div>
            <p>
                Address: {{address}}<br>
                Lines: {% for line in lines %}
                        <a href="" onclick="this.href='/lineSummary'+'{{line}}'">{{line}}</a>
                        {% endfor %}
                <br>
                Average Shopping: {{shopping}}<br>
                Average Connection Speed: {{connectionSpeed}}<br><br>
                Reviews
            </p>

            <table>
                <tr>
                    <th>User</th>
                    <th>Shopping</th>
                    <th>Connection Speed</th>
                    <th>Comment</th>
                </tr>
                {% for row in rows %}
                    <tr>

                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                    </tr>
                {% endfor %}

            </table>
            <br>


        </div>
    </body>
</html>